body{
    background-color: rgb(34, 34, 85);
    display: grid;
    /* grid-template-areas: 'div1 tabela';
    grid-template-columns: 50% 50%;
    grid-template-rows: 100vh; */
}
/* #div1{
    grid-area: div1;
}
#tabela{
    grid-area: tabela;
}

.chartjs-size-minitor{
    height: 0;
    width: 0;
} */