body{
    background-color: rgb(34, 34, 85);
}

#tabela{
    color: chartreuse;
    height: 100px;
    width: 150px;
}

table, th, td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px; 

}

#lider{
    color: chartreuse;

}
