body{
    background-color: rgb(34, 34, 85);
}

#tabela{
    color: chartreuse;
    height: 200px;
    width: 200px;
}

table, th, td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px; 

}

#lider{
    color: chartreuse;

}
